FLASK_APP=wsgi.py
SECRET_KEY=change-me
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/madare_emrooz
TEST_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/madare_emrooz_test
